
.mainLogoContainer {
    display: flex;
    margin-left: 4%;
}

.logoTag {
    display: inline-flex;

}

.logoContainer {
    background: linear-gradient(rgb(150, 200, 209), rgb(54, 69, 71));
    width: 220px;
    height: 220px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: auto;
    margin-left: 5%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.logoContainer:hover {
    background: linear-gradient(rgb(200, 234, 240), rgb(54, 69, 71));
}